In [1]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [11]:
# read in clean data file
profile_df = pd.read_csv('../okcupid_cleaned_up.csv')
profile_df.columns

Index(['Unnamed: 0', 'age', 'body_type', 'diet', 'drinks', 'drugs',
       'education', 'ethnicity', 'height', 'income', 'job', 'last_online',
       'location', 'offspring', 'orientation', 'pets', 'religion', 'sex',
       'sign', 'smokes', 'speaks', 'status', 'religion_cleaned',
       'sign_cleaned'],
      dtype='object')

In [12]:
profile_df1= profile_df.drop(['Unnamed: 0'], axis = 1)

In [13]:
profile_df1.shape

(59946, 23)

In [14]:
# Add new binary column for gender
#profile_df1["male"] = np.where(profile_df1["sex"]=="m", 1, 0)
#profile_df1.drop(columns="sex", inplace=True)
#profile_df1.head()

In [15]:
# replace seriousness of religion with religion X
profile_df1['religion'] = profile_df1['religion'].replace({'agnosticism and very serious about it': 'agnosticism',
'agnosticism but not too serious about it' : 'agnosticism', 
'agnosticism and somewhat serious about it': 'agnosticism',
'agnosticism and laughing about it': 'agnosticism','agnosticism': 'agnostic',
'atheism and laughing about it':'atheist',
'atheism and somewhat serious about it': 'atheist', 
'atheism but not too serious about it': 'atheist', 
'atheism and very serious about it':'atheism', 'atheism': 'atheist'})

In [16]:
for religion in profile_df1['religion'].unique():
    if ((religion != 'atheist') and (religion != 'agnostic')):
        profile_df1['religion'] = profile_df1['religion'].replace({religion: 'religious'})
profile_df1.drop(columns="religion_cleaned", inplace=True)
profile_df1['religion']

0        religious
1        religious
2        religious
3        religious
4        religious
           ...
59941    religious
59942     agnostic
59943    religious
59944    religious
59945    religious
Name: religion, Length: 59946, dtype: object

In [10]:
#profile_df1['is_religious'] = np.where(profile_df1['religion'] == 'religious', 1, 0)
#profile_df1['is_agnostic'] = np.where(profile_df1['religion'] == 'agnostic', 1, 0)
#profile_df1['is_atheist'] = np.where(profile_df1['religion'] == 'atheist', 1, 0)

In [17]:
profile_df1['religion'].value_counts()

religious    50807
atheist       6415
agnostic      2724
Name: religion, dtype: int64

In [18]:
profile_df1['orientation'].value_counts()

straight    51606
gay          5573
bisexual     2767
Name: orientation, dtype: int64

In [25]:
profile_df1['body_type'].value_counts()

average               14652
fit                   12711
athletic              12240
curvy                  7562
skinny                 6488
declined to answer     5494
overweight              799
Name: body_type, dtype: int64

In [26]:
profile_df1['body_type'] = profile_df1['body_type'].replace({'declined': 'declined to answer'})
profile_df['body_type'].value_counts()

average       14652
fit           12711
athletic      12240
curvy          7562
skinny         6488
declined       5494
overweight      799
Name: body_type, dtype: int64

In [15]:
profile_df1['diet'].value_counts()

anything              28888
declined to answer    24395
vegetarian             4986
other                   783
vegan                   702
kosher                  115
halal                    77
Name: diet, dtype: int64

In [27]:
profile_df1['drinks'].value_counts()

rarely                53372
not at all             3267
declined to answer     2985
desperately             322
Name: drinks, dtype: int64

In [30]:
profile_df1['drinks'] = profile_df1['drinks'].replace({'desperately': 'drinks socially',
                                                      "not at all": "drinks_no"})
profile_df1['drinks'].value_counts()

rarely                53372
no                     3267
declined to answer     2985
yes                     322
Name: drinks, dtype: int64

In [31]:
profile_df1['drugs'].value_counts()

never                 37724
declined to answer    14080
sometimes              7732
rarely                  410
Name: drugs, dtype: int64

In [34]:
profile_df1['drugs'] = profile_df1['drugs'].replace({'never': 'drugs_no',
                                                    'sometimes': 'drugs_yes'})

In [35]:
profile_df1['smokes'].value_counts()

no                    43896
declined to answer     5512
sometimes              3787
when drinking          3040
yes                    2231
trying to quit         1480
Name: smokes, dtype: int64

In [36]:
profile_df1['smokes'] = profile_df1['smokes'].replace({'sometimes': 'rarely',
                                                      'when drinking': 'rarely',
                                                      'trying to quit' : 'rarely'})

In [37]:
profile_df1['smokes'].value_counts()

no                    43896
rarely                 8307
declined to answer     5512
yes                    2231
Name: smokes, dtype: int64

In [38]:

# replace graduation, working on, dropped out with just education X (for simplicity)
profile_df1['education'] = profile_df1['education'].replace({'working on space camp': 'space camp', 
                                                             'working on college/university': 'college/university', 
                                                             'graduated from college/university': 'college/university',
                                                             'graduated from high school': 'high school',
                                                             'dropped out of space camp': 'space camp',
                                                             'graduated from space camp': 'space camp',
                                                             'graduated from law school': 'law school',
                                                             'graduated from masters program': 'masters program',
                                                             'graduated from two-year college': 'college/university',
                                                             'working on med school': 'med school',
                                                             'dropped out of high school': 'high school',
                                                             'working on ph.d program': 'ph.d program',
                                                             'graduated from ph.d program': 'ph.d program',
                                                             'dropped out of college/university': 'college/university',
                                                             'dropped out of two-year college': 'college/university',
                                                             'dropped out of med school': 'med school',
                                                             'working on masters program': 'masters program',
                                                             'working on two-year college': 'college/university',
                                                             'working on high school': 'high school',
                                                             'graduated from med school': 'med school',
                                                             'dropped out of masters program': 'masters program',
                                                             'working on law school': 'law school',
                                                             'dropped out of ph.d program': 'ph.d program',
                                                             'dropped out of law school': 'law school',
                                                             'two-year college' : 'college/university'})

In [39]:
profile_df1['education'].value_counts()

college/university    27343
declined to answer    17959
masters program        9088
high school            2614
ph.d program           1272
law school             1122
med school              446
middle school           102
Name: education, dtype: int64

In [40]:
profile_df1['ethnicity'] = profile_df1.ethnicity.str.split().str.get(0)
profile_df1['ethnicity']

0          asian,
1           white
2        declined
3           white
4          asian,
           ...
59941    declined
59942      white,
59943       asian
59944      asian,
59945       white
Name: ethnicity, Length: 59946, dtype: object

In [41]:
profile_df1['ethnicity'].value_counts()

white       32831
asian        6134
declined     5680
hispanic     4379
asian,       2071
black        2008
other        1706
indian       1077
black,       1063
middle        811
pacific       717
native        709
white,        641
indian,       119
Name: ethnicity, dtype: int64

In [42]:
profile_df1['ethnicity'] = profile_df1['ethnicity'].replace({'asian,': 'asian',
                                                            'black,': 'black',
                                                            'white,' : 'white',
                                                            'indian,': 'indian',
                                                            'middle':'middle-eastern',
                                                            'hispanic':'hispanic-latin',
                                                            'pacific':'pacific_islander',
                                                            'native': 'native_american'})

In [43]:
profile_df1['ethnicity'].value_counts()

white               33472
asian                8205
declined             5680
hispanic-latin       4379
black                3071
other                1706
indian               1196
middle-eastern        811
pacific_islander      717
native_american       709
Name: ethnicity, dtype: int64

In [44]:
profile_df1['job'].value_counts()

declined to answer                   16223
student                               4882
science / tech / engineering          4848
computer / hardware / software        4709
artistic / musical / writer           4439
sales / marketing / biz dev           4391
medicine / health                     3680
education / academia                  3513
executive / management                2373
banking / financial / real estate     2266
entertainment / media                 2250
law / legal services                  1381
hospitality / travel                  1364
construction / craftsmanship          1021
clerical / administrative              805
political / government                 708
transportation                         366
unemployed                             273
retired                                250
military                               204
Name: job, dtype: int64

In [45]:
profile_df1['sign_cleaned'].value_counts()

declined       11056
leo             4374
gemini          4310
libra           4207
cancer          4206
virgo           4141
taurus          4140
scorpio         4134
aries           3989
pisces          3946
sagittarius     3942
aquarius        3928
capricorn       3573
Name: sign_cleaned, dtype: int64

In [47]:
profile_df1

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,...,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status,sign_cleaned
0,22,curvy,anything,rarely,no,declined to answer,asian,75.0,29592,transportation,...,"does not have kids, but might want them",straight,likes dogs and likes cats,religious,m,gemini,rarely,english,single,gemini
1,35,average,anything,rarely,yes,college/university,white,70.0,48630,hospitality / travel,...,"does not have kids, but might want them",straight,likes dogs and likes cats,religious,m,cancer,no,"english (fluently), spanish (poorly), french (...",single,cancer
2,38,skinny,anything,rarely,declined to answer,masters program,declined,68.0,60812,declined to answer,...,declined to answer,straight,has cats,religious,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available,pisces
3,23,skinny,vegetarian,rarely,declined to answer,declined to answer,white,71.0,18578,student,...,does not want kids,straight,likes cats,religious,m,pisces,no,"english, german (poorly)",single,pisces
4,29,athletic,declined to answer,rarely,no,college/university,asian,66.0,94691,artistic / musical / writer,...,declined to answer,straight,likes dogs and likes cats,religious,m,aquarius,no,english,single,aquarius
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59941,59,declined to answer,declined to answer,rarely,no,college/university,declined,62.0,16612,sales / marketing / biz dev,...,has kids,straight,has dogs,religious,f,cancer and it&rsquo;s fun to think about,no,english,single,cancer
59942,24,fit,anything,rarely,yes,declined to answer,white,72.0,118254,entertainment / media,...,does not have kids,straight,likes dogs and likes cats,agnostic,m,leo but it doesn&rsquo;t matter,no,english (fluently),single,leo
59943,42,average,anything,no,no,masters program,asian,71.0,42318,construction / craftsmanship,...,does not have kids,straight,declined to answer,religious,m,sagittarius but it doesn&rsquo;t matter,no,english (fluently),single,sagittarius
59944,27,athletic,anything,rarely,rarely,declined to answer,asian,73.0,218886,medicine / health,...,"does not have kids, but wants them",straight,likes dogs and likes cats,religious,m,leo and it&rsquo;s fun to think about,rarely,"english (fluently), spanish (poorly), chinese ...",single,leo
59945,39,average,declined to answer,rarely,declined to answer,masters program,white,68.0,100804,medicine / health,...,declined to answer,gay,likes dogs and likes cats,religious,m,gemini and it&rsquo;s fun to think about,rarely,english,single,gemini

In [48]:
# List dataframe data types
profile_df1.dtypes

age              int64
body_type       object
diet            object
drinks          object
drugs           object
education       object
ethnicity       object
height          object
income           int64
job             object
last_online     object
location        object
offspring       object
orientation     object
pets            object
religion        object
sex             object
sign            object
smokes          object
speaks          object
status          object
sign_cleaned    object
dtype: object

In [49]:
# Remove the CustomerID Column
profile_clean = profile_df1.drop(columns=["last_online","location","offspring","pets","speaks","sign"])
profile_clean.head()

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,sign_cleaned
0,22,curvy,anything,rarely,no,declined to answer,asian,75.0,29592,transportation,straight,religious,m,rarely,single,gemini
1,35,average,anything,rarely,yes,college/university,white,70.0,48630,hospitality / travel,straight,religious,m,no,single,cancer
2,38,skinny,anything,rarely,declined to answer,masters program,declined,68.0,60812,declined to answer,straight,religious,m,no,available,pisces
3,23,skinny,vegetarian,rarely,declined to answer,declined to answer,white,71.0,18578,student,straight,religious,m,no,single,pisces
4,29,athletic,declined to answer,rarely,no,college/university,asian,66.0,94691,artistic / musical / writer,straight,religious,m,no,single,aquarius

In [50]:
profile_clean.to_csv('profile_clean.csv')